<h1>About chalk.</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>03.08.2017</h2>
      <p>
        Landing pages created.
      </p>
      <h2>03.07.2017</h2>
      <p>
        Chalk allows its users to measure and record their abilities as a way to gain insight into their growth and formulate plans for progress. The social-side of the app allows users to connect with other climbers and challenge friends to top similar routes.
      </p>
    </div>
  </div>
</div>