<div class="center jumbotron">
  <h1>chalk.</h1>
  <h2>Log your climbs, track your progress, and join your friends!</h2>
  <%= link_to "Beta-Test Login!", "#", class: "btn btn-lg btn-primary" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="center">
        Hello Beta-testers, (how punny!), and thank you for testing chalk. 
      </h3>
      <h4>To get started</h4>
      <p>
        Click the login button and log in with the credentials that were sent to you. If you haven't received login details, feel free to email me and I'll get those to you ASAP.
      </p> 
      <h4>Once you're logged in</h4>
      <p>
        You can begin logging your climbs. As new features get added, you can check back here to read up on what's new and how to get started.
      </p>  
      <p>
        Thanks again climbers, and enjoy chalk!
      </p>
      <p>
        Thomas
      </p>
    </div>
  </div>
</div>