<footer class="footer">
    <small>
      chalk. was created by <a href="http://thomascountz.github.io" target="_blank">Thomas Countz</a>. Visit chalk. on <a href="http://wwww.github.com/thomascountz/chalk">github</a>.
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><a href="http://thomascountz.github.io/about" target="_blank">Contact</a></li>
        </ul>
    </nav>
</footer>